In [1]:
# Load library
import pandas as pd

In [2]:
# Create URL
url = 'https://raw.githubusercontent.com/chrisalbon/sim_data/master/data.csv'

In [3]:
# Load dataset
dataframe = pd.read_csv(url)

In [4]:
# View first two rows
dataframe.head(2)

   integer             datetime  category
0        5  2015-01-01 00:00:00         0
1        5  2015-01-01 00:00:01         0